---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: hyperglass-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: hyperglass
  name: hyperglass-deployment
spec:
  selector:
    matchLabels:
      app: hyperglass
  template:
    metadata:
      labels:
        app: hyperglass
    spec:
      securityContext:
        fsGroup: 472
        supplementalGroups:
          - 0
      containers:
        - name: hyperglass
          image: mowoe/hyperglass-base:latest
          command: ['sh', '-c', "hyperglass start"]
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
              name: http-hyperglass
              protocol: TCP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /
              port: 80
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 30
            successThreshold: 1
            timeoutSeconds: 2
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: 80
            timeoutSeconds: 1
          volumeMounts:
            - mountPath: /root/hyperglass
              name: hyperglass-pv
            - mountPath: /root/hyperglass/devices.yaml
              name: devices-config
            - mountPath: /root/hyperglass/hyperglass.yaml
              name: hyperglass-config
        - name: hyperglass-redis
          image: redis:latest
          ports:
            - containerPort: 6379
              name: redis-port
              protocol: TCP
      initContainers:
        - name: build-hyperglass
          image: mowoe/hyperglass-base
          command: ['sh', '-c', "hyperglass build-ui"]
          volumeMounts:
            - mountPath: /root/hyperglass
              name: hyperglass-pv
      volumes:
        - name: hyperglass-pv
          persistentVolumeClaim:
            claimName: hyperglass-pvc
        - name: hyperglass-config
          configMap:
            name: hyperglass-server-config
        - name: devices-config
          configMap:
            name: hyperglass-devices-config
---
apiVersion: v1
kind: Service
metadata:
  name: hyperglass-service
spec:
  ports:
    - port: 80
      protocol: TCP
      targetPort: http-hyperglass
  selector:
    app: hyperglass
  sessionAffinity: None
  type: NodePort
