apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: hyperglass
  name: hyperglass-deployment
spec:
  selector:
    matchLabels:
      app: hyperglass
  template:
    metadata:
      labels:
        app: hyperglass
    spec:
      containers:
        - name: hyperglass
          image: mowoe/hyperglass-base:latest
          command: ["sh", "-c", "hyperglass start"]
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
              name: http-hyperglass
              protocol: TCP
          startupProbe:
            failureThreshold: 30
            httpGet:
              path: /
              port: 80
              scheme: HTTP
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 2
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 300
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: 80
            timeoutSeconds: 1
          volumeMounts:
            - mountPath: /root/hyperglass/devices.yaml
              subPath: devices.yaml
              name: devices-config
            - mountPath: /root/hyperglass/hyperglass.yaml
              subPath: hyperglass.yaml
              name:  hyperglass-config
        - name: hyperglass-redis
          image: redis:latest
          ports:
            - containerPort: 6379
              name: redis-port
              protocol: TCP
      volumes:
        - name: devices-config
          configMap:
            name: hyperglass-devices-config
        - name: hyperglass-config
          configMap:
            name: hyperglass-server-config
---
apiVersion: v1
kind: Service
metadata:
  name: hyperglass-service
spec:
  ipFamilyPolicy: PreferDualStack
  ports:
    - port: 80
      protocol: TCP
      targetPort: http-hyperglass
  selector:
    app: hyperglass
  sessionAffinity: None
  type: {{ .Values.service_type }}