name: build-and-push-base-image (release)

on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and publish a Docker image for ${{ github.repository }}
        uses: macbre/push-to-ghcr@master
        with:
          dockerfile: ./container/Dockerfile
          image_name: mowoe/hyperglass-base  # it will be lowercased internally
          github_token: ${{ secrets.GITHUB_TOKEN }}